.cardQuotes{
    width: auto;
    margin: 24px 16px;

    @media (min-width: 768px) {
        width: 100%;
        margin: 0 40px;
        max-width: -webkit-fill-available;
    }

    .img{
        width: 30%;
        height: 10vh;
        border-radius: 50%;
        align-self: center;
        margin-top: 20px;

        @media (min-width: 768px) {
            width: 100px;
            height: 10vh;
        }
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        .quote {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #999;
            padding: 16px 0;
            margin: 0;

            @media (min-width: 768px) {
                font-size: 16px;
            }
        }

        .person {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #333;
            padding: 8px 0;
            margin: 0;
            text-transform: uppercase;
        }

        .pts {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: #7F7F7F;
            font-weight: bold;
            margin: 0;

            >.icon {
                width: 25px;
                height: 20px;
                padding-right: 7px;
            }
        }
    }
}

