.Container {
  min-height: 692;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background: linead-gradient(
    108deg,
    rgba(1, 147, 86, 1) 0%,
    rgba(10, 201, 122, 1) 100%
  );
}

.FormWrap {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 400px) {
    height: 80%;
  }
}

.IconSignIn {
  margin-left: 32px;
  margin-top: 32px;
  text-decoration: none;
  color: #ffbf69;
  font-weight: 700;
  font-size: 32px;
  display: inline;

  @media screen and (max-width: 480px) {
    margin-left: 16px;
    margin-top: 8px;
  }
}

.FormContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 480px) {
    padding: 10px;
  }
}

.FormLogIn {
  background: #fff;
  max-width: 400px;
  height: auto;
  width: 100%;
  z-index: 1;
  display: grid;
  margin: 0 auto;
  padding: 80px 32px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);

  @media screen and (max-width: 400px) {
    padding: 32px 32px;
  }
}

.FormH1 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.FormButton {
  background: #ffbf69;
  padding: 16px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: #808080;
    color: #ffff;
  }
}

.Text {
  text-align: center;
  margin-top: 24px;
  color: #808080;
  font-size: 14px;
}
