.titleAtraction {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    padding-top: 20px;
    padding-bottom: 40px;
}

.table {
    margin-top: 100px;
}


.textDescription {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    font-weight: bold;
}