* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.titleCommunity{
    font-family: 'Montaga';
    color: #7F7F7F;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
    margin-left: 50px;
}