.iconUs {
    padding-right: 16px;
    color: #ffbf69;
    font-size: 2.5rem;
}

.list-group-item {
    border: none;
}

.list-group-item {
    text-transform: capitalize;
}

.headerList {
    display: flex;
    padding: 16px;
}