.tabsMenu{
    margin: 29px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #7F7F7F;
    background-color: #F9F9F9;
}

.icon{
    color: #ffbf69;
    padding-right: 16px;
}

.nav-link {
    color: #7F7F7F;
}

.nav-item {
    margin-bottom: 40px;
}