.title {
  font-family: 'Roboto', sans-serif;
  color: #7f7f7f;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.btn {
  width: auto;
  height: auto;
  border-color: #ffbf69;
  background-color: #ffbf69;

  &:hover {
    background-color: #ffbf69;
  }
}
