.titleGeneral {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 2rem;
}

.textDescription {
    line-height: 1.9;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2px;
    text-align: justify;
}

.imgStyle {
    height: 350px; 
    width: 95%;
    object-fit: cover;
    float: right;
    @media (max-width: 767px) {
        height: 300px;
        float: none;
    }
}

.titleSection {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 2rem;
}