.table {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-right: 50px;
    @media (max-width: 768px){
        padding-right: 0;
    }
  }

.EditIcon {
    color: #ffbf69;
}

.linkEditTown {
    color: #ffbf69;

    &:hover {
        color: #ffbf69;
    }
}

.DeleteIcon > svg {
    color: #ffbf69;
    cursor: pointer;
}

.AddReviewIcon {
    color: #ffbf69;
    cursor: pointer;
}

.AddReviewButton {
    display: flex;
    justify-content: flex-end;
}